* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  border: 50px solid black;
}

ul {
  list-style: none;
}

.opacity1 {
  opacity: 1;
}

.opacity2 {
  opacity: 0.5;
}
